.dash-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post {
    max-width: 800px;
    margin-top: 10px;
}

.message {
    white-space: pre-wrap;
}
