<div (click)="sidenav.toggle()" class="close-btn">
  <i class="fa fa-map-marker" aria-hidden="true"></i>
  Cities
</div>

<md-sidenav-container class="_sidenav">
  <md-sidenav mode=side [opened]="!phn" class='_side' #sidenav>
    <section fxLayout="column" fxLayoutAlign="top center">
      <div *ngFor="let city of Tech.getCities() |async"
           id="cityNames" [routerLink]="'../'+city.name"
           fxFlex="row" fxLayoutAlign="space-between center">
        <div>
        <i class="fa fa-map-pin city-icon">  </i>
        <span class="name">{{city.name}}</span>
        </div>
        <sub class="date">{{ city.date}} {{ city.month }}</sub>
      </div>
    </section>
  </md-sidenav>
</md-sidenav-container>
