.close-btn {
  position: fixed;
  z-index: 999;
  height: 100px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  color: white;
  transform: rotateZ(90deg);
  transform-origin: left top;
  left: 20px;
  top: 40px;
  text-align: center;
  color: white;
}

._sidenav {
  height: calc(100vh - 50px);
  position: fixed;
  background-color: rgba(60, 60, 60, 0.4);
  z-index: 5;
  color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  top: 50px;
}

._side {
  width: 25vw;
  min-width: 300px;
  background-color: transparent;
  padding: 10%;
  height: 100%;
}

._side section {
  height: 100%;
}

._side div {
  padding: 20px;
  display: block;
  font-size: 25px;
  color: white;
  font-variant: small-caps;
}

.pic {
  display: block;
  width: 100%;
  border-radius: 50%;
}

#cityNames{
  font-size: 20px;
  padding: 5px;
  border-bottom: 1px solid black;
  width: 100%;
}
#cityNames:hover{
  cursor: pointer;
}
@media (max-width: 1023px) {
  ._sidenav {
    background-color: rgba(60, 60, 60, 1);
  }

  .close-btn {
    display: block;
  }
}
