<div class="center">
  <div class="contact-center">
    <div class="contact">
      <div class="flex-contact-top">
        <div id="img-naveen" class="img"></div>
      </div>
      <div class="flex-contact-bottom info">
        <div class="name">Naveen Kumar</div>
        <div>
          <i class="fa fa-phone-square icon" aria-hidden="true"></i>
          +91-775 504 7937
        </div>
        <div>
          <i class="fa fa-phone-square icon" aria-hidden="true"></i>
          0512-2594813
        </div>
        <div class="mail">
          <a href="mailto:naveen@techkriti.org">
            <i class="fa fa-envelope icon" aria-hidden="true"></i>
            naveen@techkriti.org
          </a>
        </div>
      </div>
    </div>
    <div class="contact">
      <div class="flex-contact-top">
        <div id="img-rama" class="img"></div>
      </div>
      <div class="flex-contact-bottom info">
        <div class="name">Rama Krishna</div>
        <div>
          <i class="fa fa-phone-square icon" aria-hidden="true"></i>
          +91-896 062 2585
        </div>
        <div>
          <i class="fa fa-phone-square icon" aria-hidden="true"></i>
          0512-2594591
        </div>
        <div class="mail">
          <a href="mailto:rama@techkriti.org">
            <i class="fa fa-envelope icon" aria-hidden="true"></i>
            rama@techkriti.org
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
