@media (max-width: 412px) {
    md-card {
        width: 330px !important;
    }
}
md-card {
    margin-bottom: 20px;
    width: 28vmax;
    font-family: Lato, sans-serif;
    background-color: #e0ce94 !important;
}

md-card-header {
    display:flex;
    justify-content: center;
}

md-card-content {
    font-size: 110%;
}

md-card-title {
    font-size: 2vmax !important;
}

md-card-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}



