.center {
    display: flex;
    height: calc(85vh - 50px);
    width: 80vw;
    justify-content: center;
    align-items: center;
}

.contact-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 60vw;
    height: 60vh;
}

@media (max-width: 412px) {
    .contact {
        width: 300px;
        height: 400px !important;
    }

    .img {
        height: 175px !important;
        width: 175px !important;
    }

    .center {
        width: 100vw !important;
    }

    .contact-center {
        width: 90vw;
    }


}

a {
    color: #fffde7;
    text-decoration: none;
}

a:active {
    color: #fffde7;
}

.contact {
    display: flex;
    flex-direction: column;
    background-color: #373737;
    height: 510px;
    width: 379px;
    margin-top: 2vh;
    box-shadow: 2px 2px 54px rgba(0,0,0,.5);
}

#img-naveen {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-image: url('../assets/images/naveen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: center center;
}

#img-rama {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-image: url('../assets/images/rama.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: center center;
}

.flex-contact-top {
    display: flex;
    flex: 6 0 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-contact-bottom {
    display: flex;
    flex: 4 0 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fffde7;

}

.info div {
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Open Sans, sans-serif;
}

.icon {
    font-size: 1.5em !important;
    padding-right: 10px;
}

.name {
    font-size: 2em;
}

.mail {
    align-items: stretch !important;
}
