@font-face {
  font-family: 'Lato';
  src: url('/assets/Technocruise/lato/Lato-Light.ttf') format('truetype');
}

.coming{
  padding:2vh 0 0 5vw;
  font-size: 60px;
  font-family: Lato, sans-serif;
}

.work-body {
  display: flex;
  flex-direction: column;
  margin-top: 5vmin;
  margin-left: 12.5vmin;
  margin-right: 12.5vmin;
}

.head {
  font-weight: 800;
  font-size: 5vh;
}
