<noscript id="tsNoJsMsg">Javascript on your browser is not enabled.</noscript>
<app-dialog-sidenav></app-dialog-sidenav>
<div *ngIf="!workshopStrings.length">
  <h1 class="coming"> COMING SOON ... </h1>
</div>
<div *ngIf="workshopStrings.length">
  <div class="workshopTabs">
    <md-tab-group>
      <md-tab *ngFor="let Workshop of workshopStrings" [label]="Workshop.name" id="fix">
        <div class="work-body">
          <div class="head">
            {{ Workshop.name }}
          </div>
          <h2>Description</h2>
          <div markdown-to-html>{{Workshop.home}}</div>
          <h2>Content</h2>
          <div markdown-to-html>{{Workshop.content}}</div>
          <h2>Benefits</h2>
          {{Workshop.benefits}}
          <div>
            <button md-raised-button (click)="payNow(Workshop.name)">Register</button>
          </div>
        </div>
      </md-tab>
    </md-tab-group>
  </div>
</div>
