<noscript id="tsNoJsMsg">Javascript on your browser is not enabled.</noscript>
<div *ngIf="workshops">
  <md-tab-group>
    <md-tab *ngFor="let workshop of workshops" [label]="workshop.name">
      <h1>{{ workshop.name }}</h1>
      <h2>Description</h2>
      {{workshop.home}}
      <h2>Content</h2>
      {{workshop.content}}
      <h2>Benefits</h2>
      {{workshop.benefits}}
      <div>
        <button md-raised-button (click)="payNow(workshop.name)">Register</button>
      </div>
    </md-tab>
  </md-tab-group>
</div>
