<div class="ap-body">
  <div class="ap-card">
    <div class="content">
      <div class="header">
        {{ apData.header.one }}
      </div>
      <div class="body">
        {{ apData.body.one }}
      </div>
    </div>
    <div class="content">
      <div class="header">
        {{ apData.header.second }}
      </div>
      <div id="mob-body" class="body">
        {{ apData.body.second }}
      </div>
    </div>
    <div class="apply mob-button">
      <button md-raised-button>APPLY HERE!</button>
    </div>
  </div>
</div>
