.reg-form {
    margin: 12.5vmin auto;
    width: 30vmax;
}

.content {
    display: flex;
    flex-direction: column;
}

md-input-container, md-select {
    margin-bottom: 1.5vmin;
}

md-card-actions {
    display: flex;
    justify-content: center;
}

.body {
    background-image: url('/assets/registerback.jpg');
    width: 100%;
    height: 100vh;
    background-size: contain;
    overflow-x: hidden;
    margin: 0 0;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
}
.standard {
  margin-top: 13px;
  margin-bottom: 27px;
}
/*.schoolcode {
  color: black;
}*/
.school {
  font-size: 13px;
}
#classes {
  max-width: 100px;
}
#progress {
  width: 100%;
  top: 0vh;
}
