<div class="body">
  <md-card class="reg-form">
  <md-card-header>
    <md-card-title><h2>Registration</h2></md-card-title>
  </md-card-header>
  <form [formGroup]="registerForm">
    <md-card-content class="content">
      <md-input-container>
        
        <input type="text" mdInput placeholder="Name"
               required formControlName="name">
        <md-error> {{ formErrors.name }} </md-error>
      </md-input-container>
      
      <md-input-container>
        <input type="text" mdInput placeholder="Username"
               required formControlName="username">
        <md-error> {{ formErrors.username }} </md-error>
      </md-input-container>
      
      <div formGroupName="passwords">
        <md-input-container>
          <input type="password" mdInput placeholder="Password"
                 required formControlName="password">
          <md-error> {{ passErrors.password }} </md-error>
        </md-input-container>
        
        <md-input-container>
          <input type="password" mdInput placeholder="Re-Type Password"
                 required formControlName="passwordConfirm">
        </md-input-container>
      </div>
      
      <md-error *ngIf="registerForm.controls.passwords.invalid && passwords.controls.password.valid && !passwords.controls.passwordConfirm.pristine"> Password Do Not Match </md-error>
      
          <md-input-container>
            <input type="email" mdInput placeholder="Email"
                   required formControlName="email">
            <md-error> {{ formErrors.email }} </md-error>
          </md-input-container>
          
          <md-input-container>
            <input type="text" mdInput placeholder="Phone No"
                   required formControlName="phone">
            <md-error> {{ formErrors.phone }} </md-error>
          </md-input-container>
          
          <md-select placeholder="Class"
                     required formControlName="standard">
            <md-option *ngFor="let standard of standards"
                       [value]="standard.std">{{ standard.std }}</md-option>
          </md-select>
          
          <md-select placeholder="School"
                     (change)="selectSchool($event)"
                     required formControlName="school">
            <md-option *ngFor="let school of schools"
                       [value]="school.name">{{ school.name }}</md-option>
          </md-select>
          
          <md-input-container>
            <input mdInput type="text" placeholder="School Code"
                   disabled="true" [value]="schoolCode">
          </md-input-container>
          
          <md-select placeholder="City"
                     required formControlName="city">
            <md-option *ngFor="let city of cities"
                       [value]="city.name">{{ city.name }}</md-option>
          </md-select>
          
          <!-- <md-error> {{ formErrors.city }} </md-error> -->

    </md-card-content>
    
    <md-card-actions>
      <button md-raised-button (click)="register()"
              [disabled]="!registerForm.valid">Register</button>
    </md-card-actions>
  </form>
</md-card>
</div>
