<div class="body">
</div>
<div class="nav-bar">
  <div class="ca">Campus Ambassador</div>
  <div class="void"></div>
  <div class="hamburger-button" (click)="toggleTabVisibility()">
    <i class="fa fa-bars fa-2x" aria-hidden="true" *ngIf="!tabVisibility"></i>
    <i class="fa fa-times fa-2x" aria-hidden="true" *ngIf="tabVisibility"></i>
  </div>
  <div class="tabs-container" *ngIf="tabVisibility" (click)="toggleTabVisibility()">
    <div class="tabs" *ngFor="let tab of tabLabels"
         (click)="switchTab(tab)" [class.active]="tab == currTab">
      {{ tab }}
    </div>
  </div>
</div>
<app-ca-header [header]="currTab"></app-ca-header>
<div class="ca-body">
  <div class="left">
    <div class="social-box">
      <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
      <i class="fa fa-youtube-play fa-3x" aria-hidden="true"></i>
      <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
      <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
    </div>
  </div>
  <app-ca-contact *ngIf="tabs['Contact Us'].state" [@flyInOut]="in"></app-ca-contact>
  <app-ca-why *ngIf="tabs['Why CA?'].state" [@flyInOut]="in"></app-ca-why>
  <app-responsiblity *ngIf="tabs['Responsibilities'].state" [@flyInOut]="in"></app-responsiblity>
  <app-ca-about-us *ngIf="tabs['About Us'].state" [@flyInOut]="in"></app-ca-about-us>
  <app-application-process *ngIf="tabs['Application Process'].state" [@flyInOut]="in"></app-application-process>
  <app-incentives *ngIf="tabs['Incentives'].state" [@flyInOut]="in"></app-incentives>
  <div class="right">
    <div class="tech"></div>
  </div>
</div>
