<md-tab-group>
  <md-tab label="Tab 1">
    <div class="nav-bar">
      <div class="nav-back nav-flex-sides"></div>
      <div class="nav-flex nav-font">Contacts</div>
      <div class="nav-flex-sides nav-back"></div>
    </div>
    <div class="contact-body">
      <div class="left">
        <div class="social-box">
          <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
          <i class="fa fa-youtube-play fa-3x" aria-hidden="true"></i>
          <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
          <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
        </div>
      </div>
      <div class="center">
        <div class="contact-center">
          <div class="contact">
            <div class="flex-contact-top">
              <div id="img-naveen"></div>
            </div>
            <div class="flex-contact-bottom info">
              <div class="name">Naveen Kumar</div>
              <div>
                <i class="fa fa-phone-square icon" aria-hidden="true"></i>
                +91-775 504 7937
              </div>
              <div class="mail">
                <i class="fa fa-envelope icon" aria-hidden="true"></i>
                naveen@techkriti.org
              </div>
            </div>
          </div>
          <div class="contact">
            <div class="flex-contact-top">
              <div id="img-rama"></div>
            </div>
            <div class="flex-contact-bottom info">
              <div class="name">Rama Krishna</div>
              <div>
                <i class="fa fa-phone-square icon" aria-hidden="true"></i>
                +91-896 062 2585
              </div>
              <div class="mail">
                <i class="fa fa-envelope icon" aria-hidden="true"></i>
                rama@techkriti.org
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="tech"></div>
      </div>
    </div>
    <!-- <div class="test-left"> -->
    <!-- Application Process -->
    <!-- </div> -->
    <!-- <div class="test-right"> -->
    <!-- Contact Us -->
    <!-- </div> -->
  </md-tab>
  <md-tab label="Tab 2">
    <div class="nav-bar">
      <div class="nav-back nav-flex-sides"></div>
      <div class="nav-flex nav-font">Contacts</div>
      <div class="nav-flex-sides nav-back"></div>
    </div>
    <div class="center">
      <div class="content-contact">
        <div class="incentive">
        </div>
        <div class="incentive">
        </div>
      </div>
    </div>
    <div class="test-left">
      Application Process
    </div>
    <div class="test-right">
      About
    </div>
  </md-tab>
</md-tab-group>
