<div class="dash-container">
  <app-tech-sidenav></app-tech-sidenav>
  <div class="dash-body">
    <md-tab-group>
      <md-tab label="Profile">
        <app-tech-register [user]="user"></app-tech-register>
      </md-tab>
      <md-tab label="Tickets">
        <h1>Tickets</h1>
        <div fxLayout="row">
          <app-techno-ticket *ngFor="let ticket of user.tickets"
                             [ticket]="ticket"></app-techno-ticket>
        </div>
      </md-tab>
    </md-tab-group>
  </div>
</div>
