<div class="dash-container">
  <app-tech-sidenav></app-tech-sidenav>
  <div class="dash-body">
    <md-tab-group>
      <md-tab label="Profile">
        <app-tech-register [user]="user"></app-tech-register>
      </md-tab>
      <md-tab label="Tickets">
        <h1 class="head">Tickets</h1>
        <div fxLayout="row" *ngIf="user.tickets.length">
          <app-techno-ticket *ngFor="let ticket of user.tickets"
                             [ticket]="ticket"></app-techno-ticket>
        </div>
        <div *ngIf="!user.tickets.length">
          <h1 class="no-ticket">No tickets to show</h1>
        </div>
      </md-tab>
    </md-tab-group>
  </div>
</div>
