.dash-container {
  display: flex
}

.no-ticket {
    margin-left: 25vw;
    margin-top: 25vh;
    color: #b7bfcc;
}

.head {
    font-variant: small-caps;
}

.dash-body {
  flex: 1 0 0;
  padding-left: 5vmin;
  margin-left: 26vw;
  margin-top: 50px;
}

app-techno-ticket {
  padding: 10px;
}

@media (max-width: 512px){
  .dash-body {
    margin-left: 0px;
  }

}
