.dash-container {
  display: flex
}

.dash-body {
  flex: 1 0 0;
  padding-left: 5vmin;
  margin-left: 26vw;
  margin-top: 50px;
}

app-techno-ticket {
  padding: 10px;
}

@media (max-width: 512px){
  .dash-body {
    margin-left: 0px;
  }

}
