<div class="ca-reg-body">
</div>
<md-progress-bar *ngIf="submitFlag" mode="indeterminate"></md-progress-bar>
<md-card>
  <md-card-header>
    <md-card-title><h1>Application Form</h1></md-card-title>
  </md-card-header>
  <form [formGroup]="register">
    <md-card-content>
      <div  *ngIf="flags[0]" class="personal" formGroupName="personal">
        <div class="header">
          <h2>Personal Details</h2>
        </div>
        <md-input-container>
          <input mdInput type="text" placeholder="Name"
                 required formControlName="name">
        </md-input-container>
        <h3>Contact Details</h3>
        <div class="mob-input-col contact">
          <md-input-container>
            <input mdInput type="text" placeholder="Contact No"
                   required formControlName="contact">
          </md-input-container>
          <md-input-container>
            <input mdInput type="text" placeholder="Whatsapp No"
                   required formControlName="whatsapp">
          </md-input-container>
          <md-input-container>
            <input mdInput type="email" placeholder="Email"
                   required formControlName="email">
          </md-input-container>
        </div>
        <div  formGroupName="address">
          <h3>Address</h3>
          <div class="address">
            <md-input-container>
              <input mdInput type="text" placeholder="House No"
                     required formControlName="house">
            </md-input-container>
            <md-input-container>
              <input mdInput type="text" placeholder="Locality"
                     required formControlName="locality">
            </md-input-container>
            <md-input-container>
              <input mdInput type="text" placeholder="City/State"
                     required formControlName="landmark">
            </md-input-container>
          </div>
          <md-input-container>
            <input mdInput type="text" placeholder="Pincode"
                   required formControlName="pincode">
          </md-input-container>
        </div>
        <div class="actions">
          <button md-raised-button [disabled]="personal.invalid"
                  (click)="next()">Next</button>
        </div>
      </div>


      <div class="college" *ngIf="flags[1]" formGroupName="college">
        <div class="header">
          <h2>College Details</h2>
        </div>
        <md-input-container>
          <input mdInput type="text" placeholder="College Name"
                 required formControlName="name">
        </md-input-container>
        <div id="col-city-str" class="mob-input-col">
          <md-input-container>
            <input mdInput type="text" placeholder="College City"
                   required formControlName="city">
          </md-input-container>
          <md-input-container>
            <input mdInput type="number" placeholder="College Strength"
                   required formControlName="strength">
          </md-input-container>
        </div>
        <div formGroupName="address">
          <h3>Address</h3>
          <div class="address">
            <md-input-container>
              <input mdInput type="text" placeholder="Hostel"
                     formControlName="house">
              <md-hint>Hostel Name/Number if you stay in hostel</md-hint>
            </md-input-container>
            <md-input-container>
              <input mdInput type="text" placeholder="College Address"
                     required formControlName="locality">
            </md-input-container>
            <md-input-container>
              <input mdInput type="text" placeholder="City/State"
                     required formControlName="landmark">
            </md-input-container>
          </div>
          <md-input-container>
            <input mdInput type="text" placeholder="Pincode"
                   required formControlName="pincode">
          </md-input-container>
        </div>
        <div formGroupName="contact">
          <h3>Director's/Dean's Details</h3>
          <div class="mob-input-col contact" formGroupName="director">
            <md-input-container>
              <input mdInput type="text" placeholder="Name"
                     formControlName="name">
            </md-input-container>
            <md-input-container>
              <input mdInput type="email" placeholder="Email"
                     formControlName="email">
            </md-input-container>
            <md-input-container>
              <input mdInput type="text" placeholder="Contact Number"
                     formControlName="number">
            </md-input-container>
          </div>
          <h3>President's/Highest Student Authority Details</h3>
          <div class="mob-input-col contact" formGroupName="president">
            <md-input-container>
              <input mdInput type="text" placeholder="Name"
                     formControlName="name">
            </md-input-container>
            <md-input-container>
              <input mdInput type="email" placeholder="Email"
                     formControlName="email">
            </md-input-container>
            <md-input-container>
              <input mdInput type="text" placeholder="Contact Number"
                     formControlName="number">
            </md-input-container>
          </div>
        </div>
        <div class="actions">
          <button md-raised-button [disabled]="college.invalid"
                  (click)="next()">Next</button>
          <button md-raised-button class="back" (click)="back()">Back</button>
        </div>
      </div>

      <div class="misc" *ngIf="flags[2]"> 
        <div formArrayName="miscellaneous">
          <div *ngFor="let answer of questionStrings; index as i">
            <h3>{{ questionStrings[i] }}</h3>
            <md-input-container>
              <textarea mdInput mdTextareaAutosize [mdAutosizeMaxRows]="5"
                        cols="80" required
                        placeholder="Enter your answer"
                      [formControlName]="i"></textarea>
              <md-hint *ngIf="i === 2">Event can be a workshop or a competition of Techkriti</md-hint>
            </md-input-container>
          </div>
        </div>

        <div class="misc">
          <h2>Skills</h2>
          <md-checkbox *ngFor="let skill of skillsStrings"
                       (change)="check($event)"
                       [name]="skill"
                       color="primary"> {{ skill }}</md-checkbox>
        </div>
        <md-input-container>
          <input mdInput type="text" placeholder="Other" [formControl]="other">
        </md-input-container>
        <div>
          <h3>Will you be able to organize workshop (getting permission, a lecture hall, projector etc.) in your institute if Techkriti 18 team takes care of the trainer and other requirements?</h3>
          <md-radio-group (change)="choose($event)">
            <md-radio-button value="Yes">Yes</md-radio-button>
            <md-radio-button value="No">No</md-radio-button>
          </md-radio-group>
        </div>
        <div class="actions">
          <button md-raised-button [disabled]="register.invalid"
                  (click)="submit()">Submit</button>
          <button md-raised-button class="back"
                  (click)="back()"
                  color="warn">Back</button>
        </div>
      </div>
    </md-card-content>
  </form>
</md-card>
