.detail-box{
    border: 1px solid black;
    padding: 2vmin;
    background-color: white;
    font-size: 2vmin;
    font-family: Roboto, sans-serif;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.minor-detail{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.minor-detail div{
    padding-right: 2vmin;
    padding-left: 2vmin;
}
.major-detail p{
    white-space: pre;
    display: flex;
  }
td {
    padding-top: 2vh;;

}
.questions {
  width: 20%;
  text-align: left;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}
.answers {
  text-align: left;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}
