
<!-- NAVBAR -->

<div class="nav-container" [class.nav-container-scroll1]="scroll"
     [class.nav-container-scroll2]="!scroll">
  <div class="nav-tosc" [class.nav-tosc-scroll1]="scroll"
       [class.nav-tosc-scroll2]="!scroll"
       scrollTo="cover">
    TOSC
  </div>
  <div class="nav-void"></div>
  <div class="nav-ham" (click)="toggle()">
    <i class="fa fa-bars fa-lg" aria-hidden="true" *ngIf="!hamOpen"></i>
    <i class="fa fa-times fa-lg" aria-hidden="true" *ngIf="hamOpen"></i>
  </div>
  <div class="nav-links" [class.open]="hamOpen">
    <div *ngFor="let tab of navStrings" [scrollTo]="tab"
         (click)="goto(tab)"
         [class.active]="tab === selectedTab">
      {{ tab }}
    </div>
  </div>
</div>

<!-- COVER PAGE -->

<div class="parallax" [style.background-image]="'url(/assets/cover.jpg)'">
  <div class="cover-detail" id="cover">
    <div class="header">
      <div class="header1">
        TECHKRITI OPEN SCHOOL CHAMPIONSHIP
      </div>
      <div class="header2">
        <span class="weight">MAKE</span> THINGS <span class="weight">HAPPEN</span>
      </div>
      <a md-button class="apply" routerLink="register">REGISTER HERE</a>
      <a md-button class="apply" routerLink="resources">Past Year Papers</a>
    </div>
    <div class="down" scrollTo="ABOUT"> &#x26DB; </div>
  </div>
</div>

<!-- ABOUT SECTION -->

<div class="my-content"
     smoothScroll
     duration="800"
     easing="easeInQuint"
     [id]="tabStrings[0]">
  <div class="con-header">
    {{ tabStrings[0] }}
  </div>
  <div class="con">
    <p *ngFor="let point of tosc.about"> {{ point }} </p>
  </div>
</div>

<div class="parallax" [style.background-image]="'url(/assets/about.jpg)'" [style.height.vh]="40"></div>

<!-- DETAILS SECTION -->

<div class="my-content details"
     smoothScroll
     easing="easeInQuint"
     [id]="tabStrings[1]">
  <div class="con-header">
    {{ tabStrings[1] }}
  </div>
  <div class="con">
    <div class="detail-box">
      <div class="detail">
        <div *ngFor="let phase of tosc.details">
          <p> {{ phase[0] }} </p>
          <p> {{ phase[1] }} </p>
        </div>
      </div>
      <div class="timeline-container">
        <div class="timeline">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax" [style.background-image]="'url(/assets/details.jpg)'" [style.height.vh]="40"></div>

<!-- CONDUCTION SECTION -->

<div class="my-content conduction"
     smoothScroll
     easing="easeInQuint"
     [id]="tabStrings[2]">
  <div class="con-header">
    {{ tabStrings[2] }}
  </div>
  <div class="con">
    <ul>
      <li *ngFor="let point of tosc.conduction"> {{ point }} </li>
    </ul>
  </div>
</div>

<div class="parallax" [style.background-image]="'url(/assets/conduction.jpg)'" [style.height.vh]="40"></div>

<!-- CITIES SECTION -->

<div class="block"
     smoothScroll
     easing="easeInQuint"
     [id]="tabStrings[3]">
  <div class="con-header">
    {{ tabStrings[3] }}
  </div>
  <div class="con cities">
    <a class="apply" md-button *ngFor="let city of cities"> {{ city._id }} </a>
  </div>
</div>

<div class="parallax" [style.background-image]="'url(/assets/about.jpg)'" [style.height.vh]="40"></div>

<!-- PRIZES SECTION -->

<div class="block"
     smoothScroll
     easing="easeInQuint"
     [id]="tabStrings[4]">
  <div class="con-header" >
    {{ tabStrings[4] }}
  </div>
  <div class="con prize">
    <md-card class="prize-card" *ngFor="let prize of tosc.prizes">
      <span [mdTooltip]="prize.tip">
      <md-card-header>
        <md-card-title> {{ prize.caption }} </md-card-title>
        <md-card-subtitle> {{ prize.subcaption }} </md-card-subtitle>
      </md-card-header>
      <img md-card-image [src]="prize.src">
      </span>
    </md-card>
  </div>
  <div class="con subprize">
    <div class="subprize-card" *ngFor="let prize of tosc.subprizes">
      <p class="subprize-title">
        {{ prize.caption }}
      </p>
      <p class="subprize-subtitle">
        {{ prize.subcaption }}
      </p>
    </div>
  </div>
</div>

<div class="parallax" [style.background-image]="'url(/assets/prizes.jpg)'" [style.height.vh]="40"></div>

<!-- TESTIMONIAL SECTION -->

<div class="block"
     smoothScroll
     easing="easeInQuint"
     [id]="tabStrings[5]">
  <div class="con-header">
    {{ tabStrings[5] }}
  </div>
  <div class="con test">
    <app-tosc-topper [topper]="tosc.testi[0]"></app-tosc-topper>
    <app-tosc-topper [topper]="tosc.testi[1]"></app-tosc-topper>
  </div>
  <div class="other-test">
    <button md-raised-button (click)="openTest()">See More</button>
  </div>
</div>

<div class="parallax" [style.background-image]="'url(/assets/hall.jpg)'" [style.height.vh]="40"></div>

<!-- FAQ SECTION -->

<div class="block"
     smoothScroll
     easing="easeInQuint"
     [id]="tabStrings[6]">
  <div class="con-header">
    {{ tabStrings[6] }}
  </div>
  <div class="con test pad-down">
    <app-tosc-faq></app-tosc-faq>
  </div>
</div>

<div class="parallax" [style.background-image]="'url(/assets/prizes.jpg)'" [style.height.vh]="40"></div>

<!-- GALLERY SECTION -->

<div class="block"
     smoothScroll
     easing="easeInQuint"
     [id]="tabStrings[7]">
  <div class="con-header">
    {{ tabStrings[7] }}
  </div>
  <div class="gallery">
    <div class="con gal">
      <a md-button class="apply" target="_blank" href="https://www.instagram.com/techkriti.iitk/">VISIT INSTAGRAM</a>
    </div>
  </div>
</div>

<div class="parallax" [style.background-image]="'url(/assets/contact.jpg)'" [style.height.vh]="40"></div>

<!-- SPONSORS SECTION -->

<div class="block"
     smoothScroll
     easing="easeInQuint"
     [id]="tabStrings[8]">
  <div class="con-header">
    PREVIOUS {{ tabStrings[8] }}
  </div>
  <div class="con sponsors">
    <div class="sponsor-card" *ngFor="let sponsor of tosc.sponsors">
      <img [src]="sponsor.src"
           [style.width.%]="sponsor.size"
           [style.height.%]="sponsor.size">
      <h3>{{ sponsor.partner }}</h3>
    </div>
  </div>
</div>

<div class="parallax" [style.background-image]="'url(/assets/details.jpg)'" [style.height.vh]="40"></div>

<!-- CONTACTS SECTION -->

<div class="block"
     smoothScroll
     easing="easeInQuint"
     [id]="tabStrings[9]">
  <div class="con-header">
    {{ tabStrings[9] }}
  </div>
  <div class="contact-list">
    <md-card class="contact-card" *ngFor="let contact of tosc.contacts">
      <img class="contact-img" md-card-image [src]="contact.src">
      <md-card-content class="contact-content">
        <h2>{{contact.name}}</h2>
        <p>
          <i class="fa fa-mobile fa-lg" aria-hidden="true"></i>
          {{contact.contact}}
        </p>
        <a [href]="'mailto:' + contact.email">
          <p>
            <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
            {{contact.email}}
          </p>
        </a>
        <p *ngIf="contact.tel">
          <i class="fa fa-phone-square icon" aria-hidden="true"></i>
          {{contact.tel}}
        </p>
      </md-card-content>
    </md-card>
  </div>
</div>

<!-- END -->
