.ab-body {
    display: flex;
    height: calc(85vh - 10vh);
    width: 80vw;
    justify-content: center;
    align-items: center;
}

@media (max-width: 412px) {
    .content .header {
        font-size: 4vw !important;
    }

    .content .body {
        font-size: 3vw !important;
    }

    .ab-card {
        height: 80vh !important;
    }

    .ab-body {
        width: 100vw !important;
    }

    .ab-card {
        width: 90vw !important;
    }

}

.ab-card {
    display: flex;
    box-shadow: 2px 2px 54px rgba(0,0,0,.5);
    flex-direction: column;
    width: 60vw;
    height: 60vh;
}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #373737;
    color: #fffde7;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    font-size: 1.3vw;
    flex: 1 0 0;
}

.content:first-child .header {
    padding-top: 40px;
}

.content:last-child {
    padding-bottom: 40px;
}

.header {
    text-align: center;
    font-weight: 600;
}

.body {
    font-size: 1.2vw;
}
