<section fxLayout="column" fxLayoutAlign="space-between center" class="tab-contact">
  <div *ngFor="let contactgrp of Tech.getContacts() | async"
       fxLayout="column"
       fxLayoutAlign="center center ">
    <div class="heading">
      {{contactgrp.name}}
    </div>
    <div class="contact-list" fxLayout="row"
         fxLayoutAlign="center center" fxLayoutWrap="wrap">
      <md-card class="contact-card" *ngFor="let contact of contactgrp.content">
        <div [class.contact-img]="contactgrp.name === 'Head Events'" [class.diff]="contactgrp.name !== 'Head Events'" md-card-image>
          <img [src]="contact.pic">
        </div>
        <md-card-content fxLayout="column" fxLayoutAlign="center center"
                         class="contact-content">
          <h3>{{contact.name}}</h3>
          <p>
            <i class="fa fa-mobile fa-lg" aria-hidden="true"></i>
            {{contact.phn}}
          </p>
          <p *ngIf="contactgrp.name === 'Head Events'">
            <i class="fa fa-phone-square icon" aria-hidden="true"></i>
            {{contact.tel}}
          </p>
          <a [href]="'mailto:' + contact.email">
            <p *ngIf="contactgrp.name === 'Head Events'">
              <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
              {{contact.email}}
            </p>
          </a>
        </md-card-content>
      </md-card>
    </div>
  </div>
  <h1>Please contact us at <a href="mailto:zonals@techkriti.org">zonals@techkriti.org</a></h1>
</section>
