@font-face {
    font-family: Lovelo;
    src: url(./assets/Lovelo.otf);
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');


@media (max-width: 412px) {
    .left {
        display: none !important;
        visibility: hidden;
    }

    .right {
        display: none !important;
        visibility: hidden;
    }

    .tabs-container {
        position: absolute !important;
        top: 8vh !important;
        width: 100vw !important;
        right: 0px;
        display: block !important;
        background-color: rgb(202,202,202);
    }

    .tabs-container div {
        padding: .7em;
        display: block !important;
        border-bottom: 1px solid black;
        font-face: Roboto;
    }

    .tabs div:hover {
        background-color: #d00;
    }

    .nav-bar:hover .tabs {
        display: block !important;
    }

    .hamburger-button {
        display: flex !important;
        flex: 1 0 0;
        justify-content: center;
        align-items: center;
        background-color:rgba(202,202,202,.5);
    }

 }

.nav-bar {
    display: flex;
    height: 8vh;
    margin-bottom: 2vh;
    background-color: rgba(202,202,202,.5);
}

a {
    color: black !important;
}

.hamburger-button {
    display: none;
}
.ca {
    display: flex;
    flex: 0 0 auto;
    padding-left: 2vw;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 3.5vh;
    letter-spacing: .4vw;
    text-transform: uppercase;
}

.void {
    flex: .5 1 0;
}


.active {
    border-bottom: 5px solid #373737;
}

.tabs {
    display: flex;
    cursor: pointer;
    flex: 1 0 0;
    font-weight: 600;
    font-family: Roboto, sans-serif;
    justify-content: center;
    align-items: center;
    letter-spacing: .2px;
}

.tabs:hover {
    border-bottom: 5px solid #373737;
}

.tabs-container {
    display: flex;
    flex-grow: 1;
    text-align: center;
}
.body {
    background-image: url('./assets/images/ca-4background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
}

.ab-body {
    display: flex;
    height: calc(85vh - 50px);
    width: 80vw;
    justify-content: center;
    align-items: center;
}

.ca-body {
    display: flex;
    margin-top: 5vh;
    height: calc(85vh - 10vh);
    font-family: Open Sans, sans-serif;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    float: left;
}

.social-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 5vw;
    height: 55vh;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Open Sans;
    font-size: 2vmax;
    flex: 1 0 0;
}

.tech {
    width: 10vmin;
    height: 10vmin;
    background-size: contain;
}
