.incentive-body {
    display: flex;
    height: calc(85vh - 10vh);
    width: 80vw;
    justify-content: center;
    align-items: center;
}

.incentive-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 75vw;
    height: 60vh;
}

@media (max-width:412px) {
    .incentive-body {
        width: 100vw !important;
    }

    .incentive-card {
        width: 90vw !important;
    }
}

.incentive-card {
    display: flex;
    font-size: 1.2em;
    padding: 20px;
    text-align: center;
    align-items: center;
    background-color: #373737;
    color: #fffde7;
    box-shadow: 2px 2px 54px rgba(0,0,0,.5);
    margin-top: 10px;
    width: 250px;
    height: 150px;
}

@media (max-width: 412px) {
    .mob-incentive-card {
        font-size: 1.2em !important;
        width: 275px;
    }
}
