<div class="nav-container" [class.nav-container-scroll1]="scroll"
     [class.nav-container-scroll2]="!scroll">
  <div class="nav-tosc" [class.nav-tosc-scroll1]="scroll"
       [class.nav-tosc-scroll2]="!scroll">
    TOSC
  </div>
  <div class="nav-void"></div>
  <div class="nav-ham" (click)="toggle()">H</div>
  <div class="nav-links" [class.open]="hamOpen">
    <div *ngFor="let tab of tabStrings" [scrollTo]="tab" (click)="goto(tab)">
      {{ tab }}
    </div>
  </div>
</div>
<div class="parallax" [style.background-image]="'url(/assets/cover.jpg)'">
  <div class="cover-detail">
    <div class="header">
      <div class="header1">
        TECHKRITI OPEN SCHOOL COMPETITION
      </div>
      <div class="header2">
        <span class="weight">MAKE</span> THINGS <span class="weight">HAPPEN</span>
      </div>
    <a class="apply" routerLink="/tosc/register">APPLY HERE</a>
    </div>
    <div class="down"> &#x26DB; </div>
  </div>
</div>
<div class="my-content"
     smoothScroll
     duration="800"
     easing="easeInQuint"
     [id]="tabStrings[0]">
  <div class="con-header">
    {{ tabStrings[0] }}
  </div>
  <div class="con">
    <p *ngFor="let point of tosc.about"> {{ point }} </p>
  </div>
</div>
<div class="parallax" [style.background-image]="'url(/assets/about.jpg)'" [style.height.vh]="40"></div>
<div class="my-content details"
     smoothScroll
     easing="easeInQuint"
     [id]="tabStrings[1]">
  <div class="con-header">
    {{ tabStrings[1] }}
  </div>
  <div class="con">
    <div *ngFor="let phase of tosc.details">
      <p> {{ phase[0] }} </p>
      <p> {{ phase[1] }} </p>
    </div>
  </div>
</div>
<div class="parallax" [style.background-image]="'url(/assets/details.jpg)'" [style.height.vh]="40"></div>
<div class="my-content conduction"
     smoothScroll
     easing="easeInQuint"
     [id]="tabStrings[2]">
  <div class="con-header">
    {{ tabStrings[2] }}
  </div>
  <div class="con">
    <p *ngFor="let point of tosc.conduction"> {{ point }} </p>
  </div>
</div>
<div class="parallax" [style.background-image]="'url(/assets/conduction.jpg)'" [style.height.vh]="40"></div>
<div class="block"
     smoothScroll
     easing="easeInQuint"
     [id]="tabStrings[4]">
  <div class="con-header" >
    {{ tabStrings[4] }}
  </div>
  <div class="con prize">
    <md-card *ngFor="let image of imagesStrings; index as i">
      <md-card-header>
        <md-card-title> {{ imagesCaption[i] }}</md-card-title>
      </md-card-header>
      <img md-card-image [src]="'/assets/' + image">
    </md-card>
    <!-- <div *ngFor="let image of imagesStrings " [style.background-image]="'url(/assets/'+ image + ')'"></div> -->
  </div>
</div>
<div class="parallax" [style.background-image]="'url(/assets/prizes.jpg)'" [style.height.vh]="40"></div>
<div class="block"
     smoothScroll
     easing="easeInQuint"
     [id]="tabStrings[5]">
  <div class="con-header">
    {{ tabStrings[5] }}
  </div>
  <div class="con test">
    <app-tosc-topper [topper]="tosc.testi[0]"></app-tosc-topper>
    <app-tosc-topper [topper]="tosc.testi[1]"></app-tosc-topper>
  </div>
</div>
<div class="parallax" [style.background-image]="'url(/assets/2.jpg)'" [style.height.vh]="40"></div>
<div class="block"
     smoothScroll
     easing="easeInQuint"
     [id]="tabStrings[8]">
  <div class="con-header">
    PREVIOUS {{ tabStrings[8] }}
  </div>
  <div class="con sponsors">
    <div class="sponsor-card" *ngFor="let sponsor of sponsors">
      <img [src]="sponsor.src"
           [style.width.%]="sponsor.size"
           [style.height.%]="sponsor.size">
      <h3>{{ sponsor.partner }}</h3>
    </div>
  </div>
</div>
<div class="parallax" [style.background-image]="'url(/assets/details.jpg)'" [style.height.vh]="40"></div>
<div class="block"
     smoothScroll
     easing="easeInQuint"
     [id]="tabStrings[9]">
  <div class="con-header">
    {{ tabStrings[9] }}
  </div>
  <div class="contact-list">
    <md-card class="contact-card" *ngFor="let contact of contacts">
      <img md-card-image [src]="contact.src">
      <md-card-content class="contact-content">
        <h2>{{contact.name}}</h2>
        <i>{{contact.contact}}</i>
        <i>{{contact.email}}</i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </md-card-content>
    </md-card>
  </div>
</div>
<!-- <h1>TOSC Homepage</h1> -->
<!-- <button (click)="fbLogin()">Facebook Login</button> -->
<!-- <button (click)="gotoRegister()">Register</button> -->
<!-- <button (click)="openSignIn()">SignIn</button> -->
<!-- <button (click)="logOut()">LogOut</button> -->
<!-- <button (click)="isLoggedIn()">CheckStatus</button> -->
<!-- <button (click)="userQuiz()">Quiz</button> -->
<!-- <button (click)="gotoToscForgot()">Forgot Password</button> -->
<!-- <button (click)="gotoBackend()">Backend</button> -->
<!-- <div *ngIf="user"> -->
<!-- {{ currentUser.name }} -->
<!-- </div><!--  --> 

