<div class="reg-form" *ngIf="user">
  <h2>Profile</h2>
  <form [formGroup]="registerForm">
    <div class="content">
      <md-input-container>
        <input mdInput placeholder="Name"
               required formControlName="name">
        <md-error> {{ formErrors.name }} </md-error>
      </md-input-container>

      <md-input-container>
        <input type="email" mdInput placeholder="Email"
               required formControlName="email">
        <md-error> {{ formErrors.email }} </md-error>
      </md-input-container>

      <md-input-container>
        <input mdInput placeholder="Gender"
               required formControlName="gender">
      </md-input-container>

      <md-input-container>
        <input mdInput placeholder="College"
               required formControlName="college">
        <md-error> {{ formErrors.college }} </md-error>
      </md-input-container>

      <md-input-container>
        <input mdInput placeholder="College City"
               required formControlName="city">
        <md-error> {{ formErrors.city }} </md-error>
      </md-input-container>

      <md-input-container>
        <input mdInput placeholder="Phone No"
        required formControlName="phone">
        <span mdPrefix>+91 &nbsp;</span>
        <md-error> {{ formErrors.phone }} </md-error>
      </md-input-container>


      <button md-raised-button (click)="register()">Update</button>
    </div>
  </form>
</div>
