<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" (click)="toogleMenu()">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </button>
      <!-- <a class="navbar-brand techLogo" routerLink=""> -->
      <!-- <img src="/assets/"> -->
      <!-- </a> -->
      <a class="navbar-brand mainLogo" routerLink="../technocruise">
        <img src="/assets/Technocruise/logo.png">
      </a>
    </div>
    <div class="navbar-collapse" id="bs-example-navbar-collapse-1" [class.collapse]="menuClicked">
      <ul class="nav navbar-nav navbar-right">
        <li *ngFor="let nav of navbar"
            [class.selected]="activeTab === nav.name"
            (click)="menuClick(nav.name)">
          <a [routerLink]="nav.link">{{nav.name}}</a>
        </li>
        <li *ngIf="authService.user" class="user-nav">
          <a [mdMenuTriggerFor]="menu">
            {{ authService.user?.name }}
          </a>
          <i class="fa fa-caret-down"></i>
          <md-menu #menu="mdMenu">
            <button md-menu-item (click)="authService.logout()">Logout</button>
          </md-menu>
        </li>
      </ul>
    </div>
  </div>
</nav>
