.mainLogo img{
  height: 20px;
}

.nav li:hover, .selected{
  color: black;
  font-weight: 600;
}

.selected{
  background-color: rgba(0,0,0,0.1);
}

.navbar {
  margin-bottom: 0px;
  font-size: 110%;
}

.navbar{
  position: fixed;
  width: 100vw;
  z-index: 10000;
  top: 0;
}

li {
  cursor: pointer;
}

.user-nav {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 130%;
    font-variant: small-caps !important;
}
