.fields{
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:412px){
    .resultItem{
        padding-bottom: 1.5vmin !important;
        padding-top: 1.5vmin !important;
        align-items: center;
        font-size: 3vmin !important;
    }
}

.resultItem{
    display: flex;
    justify-content: space-around;
    background-color: #0f0068;
    color: #ffffff;
    padding-bottom: 1vmin;
    padding-top: 1vmin;
    border-bottom: 1px solid black;
    margin-top: 2vmin;
    align-items: center;
    box-shadow: .5px .5px 10px;
    font-size: 2.5vmin;
    font-family: Roboto sans-serif;
    border-radius: 2px;
}

.resultItem:hover{
    background-color: #3f2aba;
}
